<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container">
        <a href="/" class="btn btn-back">Back to Home</a>

        <div class="form-container">
            <h2>Create New Post</h2>

            <form action="#" th:action="@{/save}" th:object="${post}" method="post">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" th:field="*{title}" required />
                </div>

                <div class="form-group">
                    <label>Author</label>
                    <input type="text" th:field="*{author}" required />
                </div>

                <div class="form-group">
                    <label>Content</label>
                    <textarea th:field="*{content}" rows="5" required></textarea>
                </div>

                <button type="submit" class="btn btn-new">Submit</button>
            </form>
        </div>
    </div>

</body>

</html>